@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-suit), system-ui, sans-serif;
    @apply text-base leading-normal text-mono-11;
  }
}

/* BASE STYLES */
@layer components {
  .layout {
    @apply container max-w-myr mx-auto;
  }
  
  .input-base {
    @apply w-full p-4 transition-colors duration-300 rounded;
  }
  
  .focus-style {
    @apply focus:border-0 focus:ring-0 focus:outline-none;
  }
  
  .placeholder-style {
    @apply [&::placeholder]:whitespace-pre-wrap [&::placeholder]:leading-normal [&::placeholder]:text-mono-99;
  }
  
  .flex-base {
    @apply flex justify-center items-center;
  }
}

/* LAYOUT STYLES */
@layer components {
  .layout-container {
    @apply layout py-4 mt-8 flex flex-col gap-4;
  }

  .layout-section {
    @apply layout px-16 py-20 flex flex-col gap-10 justify-center bg-white;
  }
  
  .date-input {
    @apply max-w-20 p-2 transition-colors duration-300 text-small rounded bg-mono-f5;
  }
  
  .check-box {
    @apply flex-base whitespace-nowrap;
  }
  
  .data-container {
    @apply flex justify-between gap-2;
  }
  
  .data-btns {
    @apply flex gap-2;
  }


}

/* Profile Styles */
.profile-container {
  @apply flex flex-col gap-4 border-b will-change-[height] transform-gpu contain-content;
}

.profile-title {
  @apply w-full flex flex-row justify-between items-center gap-4;
}

.profile-text-area {
  @apply p-4 border-0 rounded overflow-hidden w-full resize-none animation outline-none;
}

.profile-text-area-empty {
  @apply bg-mono-f5 contain-content;
}

.profile-text-area:focus {
  @apply bg-blue-50;
}

.profile-text-area-title {
  @apply profile-text-area lg:text-4xl text-3xl font-bold lg:leading-normal cls;
}

.profile-text-area-paragraph {
  @apply profile-text-area flex lg:text-lg pb-8;
}

.cls {
  @apply contain-content text-render-speed backface-hidden font-smooth-antialiased;
}

/* LAYOUT STYLES */
@layer components {
  .resume-container {
    @apply flex flex-col gap-8;
  }
  
  .profile-view-title {
    @apply lg:text-4xl text-3xl font-bold lg:leading-normal;
  }
  
  .profile-view-paragraph {
    @apply lg:text-lg pb-8;
  }
}


  /* QuickBtns Styles */
  @layer components {
    .quick-btns-container {
      @apply flex-base flex-row gap-4;
    }
  
    .quick-btn {
      @apply flex-base gap-1;
    }
  
    .btn-icon {
      @apply fill-secondary-dark hover:fill-primary-light animation hover:rotate-180;
    }
  }
  
/* COMPONENT STYLES */
@layer components {
  /* Button Styles */
  .btn-base {
    @apply flex-base gap-1 animation rounded font-bold;
  }

  .drag-item {
    @apply cursor-grab active:cursor-grabbing;
  }

  .btn-rotate {
    @apply transform transition-transform animation hover:rotate-180;
  }

  /* Skeleton Loading Styles */
  .skeleton{
    @apply mb-5 rounded animate-skeleton bg-gradient-to-r from-mono-f5 via-mono-cc to-mono-f5 bg-[length:200%_100%];
  }

  .skeleton-profile {
    @apply h-[200px];
  }

  .skeleton-userinfo {
    @apply h-[100px];
  }

  .skeleton-section {
    @apply h-[300px];
  }

  /* color Styles*/
  .btn-accent {
    @apply bg-secondary-dark text-white hover-pri;
  }
  
  .hover-pri {
    @apply hover:bg-primary-light hover:text-white;
  }

  .hover-scd {
    @apply hover:bg-secondary-dark hover:text-white;
  }

  .btn-inactive {
    @apply bg-mono-f5 text-mono-66;
  }

  /* Floating Label Styles */
  .floating-label-container {
    @apply relative;
  }

  .floating-label-input {
    @apply focus-style input-base;
  }

  .floating-label-input-focused {
    @apply bg-blue-50;
  }

  .floating-label-input-unfocused {
    @apply bg-mono-f5;
  }

  .floating-label-input-core {
    @apply bg-pink-50;
  }

  .floating-label-input-title {
    @apply w-label;
  }

  .floating-label-input:not(.floating-label-input-focused) {
    @apply bg-mono-f5;
  }

  .floating-label-input-core:not(.floating-label-input-focused) {
    @apply bg-pink-50;
  }

  .floating-label-input-focused {
    @apply bg-blue-50;
  }

  .floating-label {
    @apply absolute right-4 transition-all animation;
  }

  .floating-label-active {
    @apply text-xs top-2;
  }

  .floating-label-inactive {
    @apply top-7 text-mono-99 opacity-0;
  }

  .floating-label-title {
    @apply text-sm text-mono-99;
  }

  .floating-label-normal {
    @apply text-sm text-mono-cc;
  }

  .floating-label-textarea {
    @apply resize-none;
  }

  .floating-label-textarea-label {
    @apply right-2;
  }

  .userinfo-form {
    @apply flex flex-col gap-4;
  }

  .userinfo-container {
    @apply p-4 relative rounded bg-mono-f5 hover:shadow-md transition-shadow animation;
  }

  .userinfo-item {
    @apply drag-item flex flex-col gap-2;
  }

  .userinfo-item-type {
    @apply text-small font-bold text-mono-99;
  }

  .userinfo-item-btns {
    @apply absolute top-2 right-2 flex gap-1;
  }

  .userinfo-item-btn {
    @apply text-mono-dd hover:text-secondary-dark animation;
  }

  /* text style */
  .text-small {
    @apply lg:text-sm text-xs;
  }

  /* btn Control Styles */

  .controls-container {
    @apply w-full flex flex-col gap-4 items-center contain-content;
  }

  .controls{
    @apply flex-base bg-white rounded p-2 min-h-14 w-full contain-content;
  }

  .controls-custom-btn {
    @apply btn-accent px-6 py-4 rounded transition-colors text-base font-bold flex-shrink-0 contain-content text-render-speed;
  }
  
  .info-message {
    @apply flex-base border rounded border-mono-cc text-mono-99 p-4 text-small cls;
  }

  .control-type-btn {
    @apply flex-base rounded p-2 contain-content;
  }

  .disable-btn {
    @apply bg-transparent border text-mono-cc cursor-not-allowed;
  }

  .grid-container {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4;
  }

  .tags-container {
    @apply flex flex-wrap gap-2 font-bold text-base;
  }

  .tags-text {
    @apply px-3 py-2 text-mono-99;
  }
  .tags-btn {
    @apply px-3 py-2 rounded transition-colors text-sm;
  }
  .btn-hover {
    @apply hover:bg-primary-light hover:text-white animation;
  }

  /* DateRangeInput Styles */
  @layer components {
    .date-range-container {
      @apply flex gap-2;
    }

    .date-range-input-group {
      @apply flex-base gap-2;
    }

    .date-range-input {
      @apply date-input focus-style;
    }

    .date-range-input-current {
      @apply opacity-100;
    }

    .date-range-separator {
      @apply text-mono-66;
    }

    .date-range-checkbox-label {
      @apply flex items-center gap-1 cursor-pointer;
    }

    .date-range-checkbox {
      @apply h-5 w-5 rounded border-mono-cc text-mono-66 focus:ring-mono-66;
    }


    .date-range-checkbox-text {
      @apply text-small text-mono-66;
    }

    .date-range-status-group {
      @apply flex gap-2;
    }

    .date-range-status-button {
      @apply px-2 rounded-full text-xs font-bold;
    }

    .date-range-status-button-active {
      @apply btn-accent;
    }

    .date-range-status-button-inactive {
      @apply btn-inactive;
    }

    .date-range-error {
      @apply text-red-500 text-xs mt-1;
    }
  }

  /* Resume Item Styles */
  .resume-item-container {
    @apply my-4 relative flex flex-col gap-2;
  }

  .resume-item-header {
    @apply flex items-center justify-between;
  }

  .resume-item-input-container {
    @apply flex gap-4 items-center;
  }

  .resume-item-label-container {
    @apply w-label;
  }

  /* Education Item Styles */
  .education-item-radio-group {
    @apply flex items-center space-x-2 mt-2 text-sm;
  }

  /* Custom Input Styles */
  .custom-input-container {
    @apply mt-4;
  }

  .custom-input-button {
    @apply mt-4 w-full;
  }

  /* NavBar Styles */
  .nav-container {
    @apply w-full fixed bg-white z-50 shadow-md opacity-90;
  }

  .nav-wrap {
    @apply layout flex justify-between py-4 items-center;
  }

  .nav-list {
    @apply flex gap-6 font-extrabold text-lg text-mono-11;
  }

  .nav-item {
    @apply hover:text-primary-light animation;
  }

  .nav-logo {
    @apply fill-mono-33 hover:fill-primary-light;
  }
}
@layer components {
  .action-btns {
    @apply flex justify-between;
  }
  
  .export-btn, .print-btn {
    @apply btn-base hover-scd px-4 py-2;
  }
  
  
  .import-btn {
    @apply btn-base hover-pri px-4 py-2;
  }
}

/* UTILITY STYLES */
@layer utilities {
  .section-content {
    @apply animation overflow-hidden;
  }

  .animation {
    @apply duration-300 ease-in-out transition-all;
  }

  .dragging-section-header {
    @apply p-4 rounded font-bold z-50 shadow-lg;
  }

  .item-enter {
    @apply opacity-0 overflow-hidden;
  }

  .item-enter-active {
    @apply opacity-100 transition-opacity animation;
  }

  .item-exit {
    @apply opacity-100;
  }

  .item-exit-active {
    @apply opacity-0 transition-opacity animation;
  }
}

/* PRINT STYLES */
@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    margin: 1.6cm;
  }

  .page-break {
    page-break-before: always;
  }
}

@media (prefers-reduced-motion: reduce) {
  .profile-text-area-title,
  .profile-text-area-paragraph {
    @apply transition-none;
  }
}
