@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-suit), system-ui, sans-serif;
    @apply text-base leading-normal;
  }
}

/* BASE STYLES */
@layer components {
  .layout {
    @apply container max-w-myr mx-auto;
  }
  
  .input-base {
    @apply w-full p-4 transition-colors duration-300 rounded-lg;
  }
  
  .focus-style {
    @apply focus:border-0 focus:ring-0 focus:outline-none;
  }
  
  .placeholder-style {
    @apply [&::placeholder]:whitespace-pre-wrap [&::placeholder]:leading-normal [&::placeholder]:text-mono-99;
  }
  
  .flex-base {
    @apply flex  justify-center items-center;
  }
}

/* LAYOUT STYLES */
@layer components {
  .layout-container {
    @apply layout px-16 py-20 flex flex-col gap-10 justify-center bg-white;
  }
  
  .date-input {
    @apply max-w-20 p-2 transition-colors duration-300 text-sm rounded-lg bg-mono-f5;
  }
  
  .check-box {
    @apply flex-base whitespace-nowrap;
  }
}

/* Profile Styles */
.profile-container {
  @apply flex flex-col gap-4;
}

.profile-title {
  @apply w-full flex flex-row justify-between items-center gap-4;
}

.profile-text-area {
  @apply p-4 text-mono-11 border-0 rounded-lg overflow-hidden w-full resize-none transition-all animation outline-none;
}

.profile-text-area-empty {
  @apply bg-mono-f5;
}

.profile-text-area:focus {
  @apply bg-blue-50;
}

.profile-text-area-title {
  @apply profile-text-area lg:text-4xl text-3xl font-bold lg:leading-normal;
}

.profile-text-area-paragraph {
  @apply profile-text-area flex self-center lg:text-lg;
}

/* COMPONENT STYLES */
@layer components {
  /* Button Styles */
  .btn-common {
    @apply flex text-mono-66 hover:text-mono-11 animation p-2 rounded-lg w-full relative overflow-hidden text-sm;
  }

  .btn-drag {
    @apply cursor-grab active:cursor-grabbing;
  }

  .btn-icon {
    @apply group-hover:opacity-0 transition-opacity animation hover:rotate-180;
  }

  .btn-text {
    @apply absolute inset-0 opacity-0 group-hover:opacity-100 transition-opacity animation flex-base text-sm;
  }

  .btn-rotate {
    @apply transform transition-transform animation hover:rotate-180;
  }

  /* Skeleton Loading Styles */
  .skeleton{
    @apply mb-5 rounded-lg animate-skeleton bg-gradient-to-r from-mono-f5 via-mono-cc to-mono-f5 bg-[length:200%_100%];
  }

  .skeleton-profile {
    @apply h-[200px];
  }

  .skeleton-userinfo {
    @apply h-[100px];
  }

  .skeleton-section {
    @apply h-[300px];
  }

  /* Floating Label Styles */
  .floating-label-container {
    @apply relative;
  }

  .floating-label-input {
    @apply focus-style input-base;
  }

  .floating-label-input-focused {
    @apply bg-blue-50;
  }

  .floating-label-input-unfocused {
    @apply bg-mono-f5;
  }

  .floating-label-input-core {
    @apply bg-pink-50;
  }

  .floating-label-input-title {
    @apply w-label;
  }

  .floating-label-input:not(.floating-label-input-focused) {
    @apply bg-mono-f5;
  }

  .floating-label-input-core:not(.floating-label-input-focused) {
    @apply bg-pink-50;
  }

  .floating-label-input-focused {
    @apply bg-blue-50;
  }

  .floating-label {
    @apply absolute right-4 transition-all animation;
  }

  .floating-label-active {
    @apply text-xs top-2;
  }

  .floating-label-inactive {
    @apply top-7 text-mono-99 opacity-0;
  }

  .floating-label-title {
    @apply text-sm text-mono-99;
  }

  .floating-label-normal {
    @apply text-sm text-mono-cc;
  }

  .floating-label-textarea {
    @apply resize-none;
  }

  .floating-label-textarea-label {
    @apply right-2;
  }

  /* text style */
  .text-small {
    @apply lg:text-sm text-xs
  }

  /* btn Control Styles */

  .controls-container {
    @apply w-full flex flex-col gap-4 items-center rounded-lg
  }

  .controls{
    @apply flex-base bg-white rounded-lg p-2 min-h-14 w-full
  }

  .controls-custom-btn {
    @apply bg-secondary-dark text-white px-6 py-4 rounded-lg hover:bg-primary-light transition-colors text-base font-bold flex-shrink-0 mr-2
  }
  
  .info-message {
    @apply flex-base border rounded-lg border-mono-cc text-mono-99 p-4 mb-4
  }

  .control-type-btn {
    @apply flex-base rounded-lg p-2
  }

  /* QuickBtns Styles */
  .quick-btns-container {
    @apply flex flex-col gap-4;
  }

  /* DateRangeInput Styles */
  @layer components {
    .date-range-container {
      @apply flex gap-2;
    }

    .date-range-input-group {
      @apply flex-base gap-2;
    }

    .date-range-input {
      @apply date-input focus-style;
    }

    .date-range-input-current {
      @apply opacity-100;
    }

    .date-range-separator {
      @apply text-mono-66;
    }

    .date-range-checkbox-label {
      @apply flex items-center gap-1 cursor-pointer;
    }

    .date-range-checkbox {
      @apply h-5 w-5 rounded-lg border-mono-cc text-mono-66 focus:ring-mono-66;
    }

    .date-range-checkbox-text {
      @apply text-small text-mono-66;
    }

    .date-range-status-group {
      @apply flex gap-2;
    }

    .date-range-status-button {
      @apply px-2 rounded-full text-xs font-bold;
    }

    .date-range-status-button-active {
      @apply bg-secondary-dark text-white;
    }

    .date-range-status-button-inactive {
      @apply bg-mono-f5 text-mono-66;
    }

    .date-range-error {
      @apply text-red-500 text-xs mt-1;
    }
  }

  /* Resume Item Styles */
  .resume-item-container {
    @apply my-4 relative flex flex-col gap-2;
  }

  .resume-item-header {
    @apply flex items-center justify-between;
  }

  .resume-item-input-container {
    @apply flex gap-4 items-center;
  }

  .resume-item-label-container {
    @apply w-label;
  }

  /* Education Item Styles */
  .education-item-radio-group {
    @apply flex items-center space-x-2 mt-2 text-sm;
  }

  /* Custom Input Styles */
  .custom-input-container {
    @apply mt-4;
  }

  .custom-input-button {
    @apply mt-4 w-full;
  }

  /* NavBar Styles */
  .nav-container {
    @apply w-full fixed bg-white z-50 shadow-md opacity-90;
  }

  .nav-wrap {
    @apply layout flex justify-between py-4 items-center;
  }

  .nav-list {
    @apply flex gap-6 font-extrabold text-lg text-mono-11;
  }

  .nav-item {
    @apply hover:text-primary-light animation;
  }

  .nav-logo {
    @apply fill-mono-33 hover:fill-primary-light;
  }
}

/* UTILITY STYLES */
@layer utilities {
  .section-content {
    @apply animation overflow-hidden;
  }

  .animation {
    @apply duration-300 ease-in-out;
  }

  .dragging-section-header {
    @apply p-4 rounded-lg font-bold z-50 shadow-lg;
  }

  .item-enter {
    @apply opacity-0 overflow-hidden;
  }

  .item-enter-active {
    @apply opacity-100 transition-opacity animation;
  }

  .item-exit {
    @apply opacity-100;
  }

  .item-exit-active {
    @apply opacity-0 transition-opacity animation;
  }
}


/* PRINT STYLES */
@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    margin: 1.6cm;
  }
  .action-buttons {
    display: none;
  }
  .page-break {
    page-break-before: always;
  }
}
